.about {
  top: 60px;
  height: 55vh;
  background: rgb(103, 131, 190);
  color: white;
  text-align: center;
}

.top-images {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    align-self: center; /* or else will stretch images */
    width: 30%;
    padding: 01%
  }
}

.rationale {
  color: white;
  text-align: center;
  background: rgb(103, 131, 190);
  padding: 5%;
}

.main-content {

  .features {
    display: flex;
    width: 80%;
    margin: 3% auto;
    justify-content: space-between;
    align-items: center;
  
    img {
      display: block;
      width: 45%;
    }

    .features-text {
      margin: 5%;

      li{
        font-size: 1.6rem;
        padding: 1.6rem 0;
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }
}




