
.about-background {
  width: 100%;
  position: relative;
  z-index: -2;
}

.about {
  margin-top: 80px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)), url("penny-lee/images/background.svg"); 
  background-position:center top;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  @media @tablet {
    margin-top: 60px;
    padding: 3rem;
  }

  @media only screen and (max-width: 620px) {
    flex-direction: column;

  }

  &-text {
    width: 30vw;
    margin: 0 5rem;
    align-self: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 620px) {
      width: 100%;
      padding: 3rem 5rem;
    }

      h2 {
        font-size: 3rem;
        font-weight: bold;
        padding: 3rem 0;
        line-height: 3.5rem;

        @media @tablet {
          font-size: cal(2.5rem+ 0.5vw);
        }

        @media @phone {
          padding: 2rem 1rem;
        }
      }

      p {
        line-height: 2rem;
        padding: 1rem 0;
      }

    button {
      .button-color(white, @main-blue7);
      .button-style(@btn-font-size: 1.8rem, @btn-width: 150px);
      margin: 2rem 0;
    }

 
  }
    img {
      width: 45vw;

      @media only screen and (max-width: 620px) {
        align-self: center;
        width: 80%;
      }
    }  
  

}

.top-images {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;

  @media @phone {
    flex-direction: column;
    align-items: center;
  }

  .top-images-container {
    width: 29vw;

    @media @phone {
      width: 90%;
    }
    
    .top-images-overlay {
      position: absolute;
      //background: rgba(255, 255, 255, 0.3);
      z-index: -1;
      color: @main-color;
      text-align: center;
      width: 29vw;
      opacity: 0;

      @media @phone {
        width: 90%;
      }

      p {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 27% 13%;

        @media @tablet {
          font-size: 1.6rem;
        }

        @media @phone {
          font-size: 1.8rem;
          font-weight: bold;
          padding: 27% 20%;
        }
      }
    }
    

    img {
      width: 100%;
      //align-self: center; /* or else will stretch images */
      padding: 1%;
      position: relative;
      z-index: -2;
    }
  }
}

.top-images-container:hover .top-images-overlay {
  transition: all 0.3s ease;
  opacity: 1;
}

.top-images-container:hover img {
  transition: all 0.3s ease;
  opacity: 0.2;
}


.rationale-text {
  background: @main-blue1;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 0;
  margin: 2rem 0;
 

  h2 {
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  ul {
    list-style-position: outside;
    padding: 0 10rem;

    @media @phone {
      padding: 0 5rem;
    }

    li {
      padding: 1.8rem 0;
      list-style-type: disc;
    }
  }


}

#features > h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.main-content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-cards {
    display: flex;
    margin: 0 10%;
    align-items: center;

    @media @tablet {
      margin: 0;
    }

    @media @phone {
      flex-direction: column;
    }

    img {
      display: block;
      width: 250px;

      @media @phone {
        order: -1;
        width: 70%;
      }
    }



    .content-text {
      margin: 5%;

      h2 {
        font-weight: bold;
      }

      ul {
        padding: 0 1.6rem;
        list-style-position: outside;
      }

      li{
        font-size: 1.6rem;
        padding: 1.6rem 0;
       
      }
      li:before {
        content: '\2714 ';
        margin-left: -1em;
        margin-right: .2em;
        line-height: 2rem;
      }
    }
  }

  .last-card {
    width: 80%;

    @media @tablet {
      width: 100%;
    }
  }
}


