header {
  width: 100%;
  background: @nav-bg-color;
  height: 60px;

  .navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h1{
      font-size: 3.5rem;
      color: white;
      padding: 1%;
    }
  
    .nav-link {
      width: 80%;
      display: flex;
      justify-content: flex-end;

      a {
        font-size: 1.6rem;
        color: white;
        text-decoration: none;
        margin: 0 1%;
        padding: 1rem;
      }

      :last-child {
        border: 2px solid #fff;
        border-radius: 15px;
      }
    }
  }
}








