header {
  width: 100%;
  background: white;
  height: 60px;

  .navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      h1{
        font-size: 3.5rem;
        color: @nav-font-color;
        padding: 0 5%;
      }
    }
    .nav-link {
      width: 70%;
      display: flex;
      justify-content: flex-end;

      a {
        font-size: 1.6rem;
        color: @nav-font-color;
        text-decoration: none;
        margin: 0 1%;
        padding: 1rem;
        border: 3px solid white;

        &:hover {
          border-bottom: 3px solid @main-blue7; 
        }
      }
    }

    button {
      .button-color(@main-blue7, white);
      .button-style(@btn-width: 150px)
    }
  }
}








