// Color palettes - primary
@main-blue1: #0F69CC;
@main-blue2:#2B77CB;
@main-blue3: #4988CD;
@main-blue4: #7AA4D3;
@main-blue5: #9AB6D5;
@main-blue6: #A5BBD4;
@main-blue7: #0071CC;
@nav-font-color: rgb(141, 141, 141);
@main-color: rgb(36, 35, 35);
@footer-gray: rgb(107, 107, 107);

// Mobile var
@phone: ~"screen and (max-width: 500px)";
@tablet: ~"screen and (max-width: 800px)";