/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #242323;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 2rem;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.scroll-top {
  display: none;
  top: 50vh;
  position: fixed;
  right: 0;
}
.scroll-top .fas {
  font-size: 4rem;
  color: #0071CC;
}
header .navbar {
  position: fixed;
  top: 0;
  max-width: 1200px;
  width: 100%;
  z-index: 3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2rem 0;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 620px) {
  header .navbar {
    height: 70px;
    padding: 0.5rem;
  }
}
header .navbar .logo {
  display: flex;
  align-items: center;
}
header .navbar .logo #sitename-short {
  font-size: 4.4rem;
  background: white;
  color: #0071CC;
  border-radius: 9px;
  padding: 2px 5px 2px 2px;
  letter-spacing: -3px;
}
header .navbar .logo #sitename-full {
  font-size: 3.5rem;
  color: #8d8d8d;
  padding: 0 5%;
}
header .navbar .fas {
  font-size: 3rem;
  color: #0071CC;
}
header .navbar .fa-bars {
  display: none;
}
@media only screen and (max-width: 620px) {
  header .navbar .fa-bars {
    display: block;
  }
}
header .navbar .fa-times {
  display: none;
}
header .navbar .nav-link {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
header .navbar .nav-link :not(:last-child) {
  font-size: 2rem;
  color: #8d8d8d;
  text-decoration: none;
  margin: 0 1%;
  padding: 1rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
header .navbar .nav-link :not(:last-child):hover {
  border-bottom: 3px solid #0071CC;
}
header .navbar .nav-link :last-child {
  text-decoration: none;
  margin-left: 1rem;
  background: #0071CC;
  color: white;
  border: 2px solid #0071CC;
  display: block;
  border-radius: 10px;
  font-size: 1.8rem;
  width: auto;
  text-align: center;
  padding: 0.8rem 2rem;
  cursor: pointer;
  outline: none;
}
header .navbar .nav-link :last-child:hover {
  background: white;
  color: #0071CC;
  border: 2px solid #0071CC;
  transition: all 0.3s ease;
}
header .navbar .nav-link .selected-link {
  border-bottom: 3px solid #0071CC;
}
@media only screen and (max-width: 620px) {
  header .navbar .nav-link .selected-link {
    border-bottom: 3px solid #A5BBD4;
    color: #8d8d8d;
  }
}
@media only screen and (max-width: 620px) {
  header .navbar .nav-link {
    transform: translateX(700px);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    align-items: flex-start;
    background: #A5BBD4;
    padding: 3rem 0;
    width: 100%;
  }
  header .navbar .nav-link a {
    color: white;
  }
  header .navbar .nav-link a:hover {
    border-bottom: 3px solid #A5BBD4;
    color: #8d8d8d;
  }
  header .navbar .nav-link button {
    margin-top: 1rem;
  }
}
header .nav-scroll {
  box-shadow: 0 5px 5px -7px #333;
  padding: 0.6rem 0;
}
.about-background {
  width: 100%;
  position: relative;
  z-index: -2;
}
.about {
  margin-top: 80px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)), url("https://i.ibb.co/MCvbYh6/background.png");
  background-position: center top;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
@media only screen and (max-width: 800px) {
  .about {
    margin-top: 60px;
    padding: 3rem;
  }
}
@media only screen and (max-width: 620px) {
  .about {
    flex-direction: column;
  }
}
.about-text {
  width: 30vw;
  margin: 0 5rem;
  align-self: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 620px) {
  .about-text {
    width: 100%;
    padding: 3rem 5rem;
  }
}
.about-text h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 0;
}
@media only screen and (max-width: 800px) {
  .about-text h2 {
    font-size: cal(3rem);
  }
}
@media only screen and (max-width: 500px) {
  .about-text h2 {
    padding: 2rem 1rem;
  }
}
.about-text p {
  line-height: 2rem;
  padding: 1rem 0;
}
.about-text button {
  background: white;
  color: #0071CC;
  border: 2px solid white;
  display: block;
  border-radius: 10px;
  font-size: 1.6rem;
  width: 150px;
  text-align: center;
  padding: 0.8rem 2rem;
  cursor: pointer;
  outline: none;
  margin: 2rem 0;
}
.about-text button:hover {
  background: #0071CC;
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}
.about img {
  width: 45vw;
}
@media only screen and (max-width: 620px) {
  .about img {
    align-self: center;
    width: 80%;
  }
}
.top-images {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .top-images {
    flex-direction: column;
    align-items: center;
  }
}
.top-images .top-images-container {
  width: 29vw;
}
@media only screen and (max-width: 500px) {
  .top-images .top-images-container {
    width: 90%;
  }
}
.top-images .top-images-container .top-images-overlay {
  position: absolute;
  z-index: -1;
  color: #242323;
  text-align: center;
  width: 29vw;
  opacity: 0;
}
@media only screen and (max-width: 500px) {
  .top-images .top-images-container .top-images-overlay {
    width: 90%;
  }
}
.top-images .top-images-container .top-images-overlay p {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 27% 13%;
}
@media only screen and (max-width: 800px) {
  .top-images .top-images-container .top-images-overlay p {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 500px) {
  .top-images .top-images-container .top-images-overlay p {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 27% 20%;
  }
}
.top-images .top-images-container img {
  width: 100%;
  padding: 1%;
  position: relative;
  z-index: -2;
}
.top-images-container:hover .top-images-overlay {
  transition: all 0.3s ease;
  opacity: 1;
}
.top-images-container:hover img {
  transition: all 0.3s ease;
  opacity: 0.2;
}
.rationale-text {
  background: #0F69CC;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 0;
  margin: 2rem 0;
}
.rationale-text h2 {
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.rationale-text ul {
  list-style-position: outside;
  padding: 0 10rem;
}
@media only screen and (max-width: 500px) {
  .rationale-text ul {
    padding: 0 5rem;
  }
}
.rationale-text ul li {
  padding: 1.8rem 0;
  list-style-type: disc;
}
#features > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}
.main-content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .content-cards {
  display: flex;
  margin: 0 10%;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .main-content .content-cards {
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .main-content .content-cards {
    flex-direction: column;
  }
}
.main-content .content-cards img {
  display: block;
  width: 250px;
}
@media only screen and (max-width: 500px) {
  .main-content .content-cards img {
    order: -1;
    width: 70%;
  }
}
.main-content .content-cards .content-text {
  margin: 5%;
}
.main-content .content-cards .content-text h2 {
  font-weight: bold;
}
.main-content .content-cards .content-text ul {
  padding: 0 1.6rem;
  list-style-position: outside;
}
.main-content .content-cards .content-text li {
  font-size: 1.6rem;
  padding: 1.6rem 0;
}
.main-content .content-cards .content-text li:before {
  content: '\2714 ';
  margin-left: -1em;
  margin-right: 0.2em;
  line-height: 2rem;
}
.main-content .last-card {
  width: 80%;
}
@media only screen and (max-width: 800px) {
  .main-content .last-card {
    width: 100%;
  }
}
.about-team {
  margin-top: 80px;
}
.about-team h2 {
  color: #0071CC;
  padding: 3rem 0;
}
.about-team .team {
  display: flex;
  flex-direction: column;
}
.about-team .team .team-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 3rem;
  padding: 2rem 0;
  overflow: hidden;
}
.about-team .team .team-card .team-content {
  background: white;
  border-radius: 15px;
  margin: 2% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
@media only screen and (max-width: 500px) {
  .about-team .team .team-card .team-content {
    flex-direction: column;
  }
}
.about-team .team .team-card .team-content img {
  width: 30%;
  padding: 1%;
}
@media only screen and (max-width: 800px) {
  .about-team .team .team-card .team-content img {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .about-team .team .team-card .team-content img {
    width: 80%;
  }
}
.about-team .team .team-card .team-content .team-name {
  width: 40%;
}
@media only screen and (max-width: 800px) {
  .about-team .team .team-card .team-content .team-name {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .about-team .team .team-card .team-content .team-name {
    width: 80%;
  }
}
.about-team .team .team-card .team-content .team-name p {
  color: #242323;
  font-size: 3rem;
  padding: 3rem;
}
@media only screen and (max-width: 800px) {
  .about-team .team .team-card .team-content .team-name p {
    font-size: 2.6rem;
    padding: 2rem;
  }
}
.about-team .team .team-card .team-content .team-name a {
  text-decoration: none;
  color: #242323;
}
.about-team .team .team-card .team-content .team-name a:hover {
  color: #0071CC;
}
.about-team .team .team-card .team-content .team-name .fab {
  font-size: 5rem;
}
.about-team .team .team-card .team-hidden {
  display: none;
}
.about-team .team .team-lead {
  background: #0F69CC;
}
.about-team .team .front-end {
  background: #2B77CB;
}
.about-team .team .back-end {
  background: #4988CD;
}
.about-team .team .ux-design {
  background: #7AA4D3;
}
.about-team .team .ui-design1 {
  background: #9AB6D5;
}
.about-team .team .ui-design2 {
  background: #A5BBD4;
}
footer {
  background: #6b6b6b;
  color: #0071CC;
}
.footer-container {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-container h3 {
  padding: 1.8rem 0;
}
.footer-container .footer-top {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  .footer-container .footer-top {
    flex-wrap: wrap;
  }
}
.footer-container .footer-top .footer-connect a {
  text-decoration: none;
  color: white;
  padding-right: 1.8rem;
}
.footer-container .footer-top .footer-connect a:hover {
  color: #0071CC;
}
.footer-container .footer-top .footer-connect .fab {
  font-size: 3rem;
}
.footer-container .footer-top .footer-subscribe {
  width: 30%;
}
@media only screen and (max-width: 800px) {
  .footer-container .footer-top .footer-subscribe {
    width: 80%;
    margin: 2rem;
  }
}
.footer-container .footer-top .footer-subscribe form {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.footer-container .footer-top .footer-subscribe form input {
  font-family: cursive;
  font-size: 1.6rem;
}
.footer-container .footer-top .footer-subscribe form button {
  background: #6b6b6b;
  color: white;
  border: 2px solid #6b6b6b;
  border: 2px solid white;
  display: block;
  border-radius: 0;
  font-size: 1.6rem;
  width: auto;
  text-align: center;
  padding: 0.8rem 2rem;
  cursor: pointer;
  outline: none;
}
.footer-container .footer-top .footer-subscribe form button:hover {
  background: white;
  color: #6b6b6b;
  border: 2px solid #6b6b6b;
  transition: all 0.3s ease;
}
.footer-container .footer-bottom {
  text-align: center;
}
.footer-container .footer-bottom p {
  font-size: 1.4rem;
  padding: 3rem 0 1.6rem 0;
}
.footer-container .footer-bottom a {
  text-decoration: none;
  color: white;
}
.footer-container .footer-bottom a:hover {
  color: #0071CC;
}
